// @import "var.scss";
/*-----------Block Level Elements--------------*/

body{
	color: #333;
	font-family: Frutiger,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 1.45;
}
